*{
    margin: 0px;
    padding: 0px;

}

html,body{

width: 100%;

}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color: var(--primary-bg-color);
color: var(--text-primary-color);
}

main{
    width: 100%;
    

}

main section{
    display: flex;
    width: 100%;
    padding: var(--padding-2xl);
     gap: var(--gutter-lg);
    
}

main section .top{
    display: flex;
    align-items: center;
    gap: var(--gutter-md);
}

main section .left{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-lg);
    width: 70%;
    align-items: center;
}

main section .right{
   width: 30%;
   background-color: var(--secondary-bg-color);
   padding: var(--padding-lg);
   border-radius: var(--border-radius-lg);
   display: flex;
   flex-direction: column;
   gap: var(--gutter-md);

}

.btn{
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    border-radius: var(--border-radius-md);
    cursor: pointer;
    background-color: var(--active-bg-color);
    color: var(--text-active-color);

}

#reset{
    background-color: var(--danger-bg-color);
    color:var(--text-primary-color);
}

#download{
    background-color: var(--success-bg-color);
    color:var(--text-primary-color) ;
}
 
main section .bottom{
    background-color: var(--secondary-bg-color);
    width: 100%;
    aspect-ratio: 5/3;
    display: flex;
    justify-content: center;
    align-items: center;

}

main section .bottom .placeholder{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.6;
    gap: var(--gutter-sm);
}

main section .bottom .placeholder i{
    font-size: 10rem;
}

main section .bottom .placeholder p{
    font-size: var(--font-size-lg);
}

main section .right .filters{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
      
}

main section .right .filter{
    width: 100%;  
}

main section .right .filter input{
    width: 100%;
    outline: none;
    margin-top: var(--margin-sm);
    appearance: none;
}

main section .right .filter input::-webkit-slider-thumb{
    appearance: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--danger-bg-color);
    margin-top: -8.5px;
}

main section .right .filter input::-webkit-slider-runnable-track{
    background-color: var(--active-bg-color);
    height: 3px;
}

canvas{
    width: 90%;
    height: 80vh;
    display: none;
}

.presets{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter-sm);
}


